* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: grid;
  place-items: center;
}

#container {
  max-width: 20rem;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 20px;
  gap: 0.2rem;
}

img {
  display: block;
  max-width: 90%;
  margin: auto;
  border-radius: 10px;
  margin-top: 1.2rem;
  cursor: pointer;
}

#text {
  padding: 1.2rem;
}

#text h1 {
  font-size: 1.4rem;
  color: hsl(218, 44%, 22%);
}

#text p {
  padding: 1rem;
  word-spacing: 1px;
  color: hsl(220, 15%, 55%);
}
